#Declaration of all Environment variable which you can access with process.env.MY_VARIABLE
#This is a sample model. Please create a ".env" file in the CRP by your own.
#Examples :
CLOUD_TOKEN=<My_Cloud8Token>
CYPHER_KEY=<My_Cypher_Key>
DEBUG=true
#...