body {
    width: 21cm;
    min-height: 29.7cm;
    margin: auto;
    padding: 0 20px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}
header, section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
p {
    margin: 0;
}
table {
    width: 100%;
    margin: 0.5cm 0;
    font-family: 'Arial', sans-serif;
    border-collapse: collapse;
}
td, th:not(.table-title) {
    border: 1px solid #f7f7f7;
    text-align: left;
    padding: 8px;
    font-size: 14px;
}
tr:nth-child(even) {
    background-color: #f7f7f7;
    -webkit-print-color-adjust: exact;
}
.table-title {
    background-color: #1C3859;
    color: #fff;
    text-align: center;
    -webkit-print-color-adjust: exact;
    padding: 10px 0;
    text-transform: uppercase;
}
.table-sub-title {
    background-color: #ccc;
    color: #1c3859;
    text-align: right!important;
    -webkit-print-color-adjust: exact;
}
td > table {
    margin: 0;
}
.table-title p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.table-title svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.table-title svg path {
    fill: #fff;
}
.trip-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.trip-title img {
    width: 30px;
    margin-right: 10px;
}
td > table th {
    background-color: steelblue;
    color: #fff;
    -webkit-print-color-adjust: exact;
}
td > table td {
    background-color: #fff;
    -webkit-print-color-adjust: exact;
}
.no-padding {
    padding: 0!important;
}
#header-brand {
    width: 6cm;
}

#header-brand svg {
    width: 100%;
}
#header-brand i {
    font-size: 12px;
    margin-top: 0.2cm;
    width: 6cm;
    justify-content: center;
    display: flex;
}
#octeus-header {
    width: 14cm;
    margin-left: 1cm;
}
#octeus-header h2, #octeus-header p {
    text-align: center;
}
#octeus-header h2 {
    color: #1b3758;
    opacity: 0.6;
}
#octeus-header-content {
    padding: 0.5cm;
    background-color: #31629b;
    -webkit-print-color-adjust: exact;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}
#octeus-header-content b {
    font-size: 14px;
    color: #fff;
    text-align: center;
    width: 100%;
}
#octeus-header-content i, #octeus-header-content small {
    font-size: 12px;
    color: #fff;
    text-align: center;
    width: 100%;
    opacity: 0.7;
}
#section-1 {
    margin-top: 0.2cm;
}
#section-1 > div:first-of-type {
    padding: 0.5cm;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: calc(9cm - 2px);
    margin-right: 1cm;
    background-color: #e7e7e7;
    -webkit-print-color-adjust: exact;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
    color: #1C3859;
}
#section-1 > div:first-of-type p {
    font-size: 14px;
}
#section-1 > div:first-of-type small {
    font-size: 10px;
}
#section-1 > div:last-of-type {
    width: 10cm;
}
#section-1 > div:last-of-type small {
    font-size: 8px;
}
#section-1 > div:last-of-type h3 {
    margin: 1.5cm 0 2cm 0;
}
#section-1 > div:last-of-type div {
    font-size: 12px;
    text-align: right;
    display: flex;
    flex-direction: column;
}
#footer-legals {
    margin: 1cm auto;
    width: calc(100% - 0.4cm - 4px);
    padding: 20px 0.2cm;
    font-size: 12px;
    background-color: #e7e7e7;
    border-radius: 10px;
    border: 2px solid #1c3859;
    font-style: italic;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
    -webkit-print-color-adjust: exact;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    margin-top: 2cm;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
#footer-left, #footer-right {
    margin-top: 2cm;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer-left p {
    font-weight: bold;
    width: 100%;
    text-align: center;
}
#footer-left p:first-of-type {
    font-weight: normal;
    margin-bottom: 20px;
}
#footer-left img {
    width: 100%;
}
#footer-right img {
    width: 100%;
}
@page{
    @bottom-right {
        content: "p" counter(page) " / " counter(pages);
        font-size: 9pt;
    }
}
